{% extends 'base.html.twig' %}

{% block title %}
	Contrat details
{% endblock %}

{% block body %}
	{% if contrat %}
	<h1>Type:
		{{ contrat.type }}</h1>
	<p>Client:
		{{ contrat.idClient }}</p>
	<p>Car Matricule:
		{{ contrat.idVoiture }}</p>
	<hr>
	<a href="/agent/contrats">Go Back</a>
	{% endif %}

{% endblock %}
