<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome to SymphRide!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			{{ include('inc/navbar.html.twig') }}
			<div class="container">
				{% block body %}
					{% if app.user.roles[0] == "ROLE_AGENT" %}
						{{ include('dashboard/cars.html.twig') }}
						{{ include('dashboard/factures.html.twig') }}
					{% endif %}
					{% if app.user.roles[0] == "ROLE_ADMIN" %}
						<br/>
						<h1>Welcome to SymphRide!</h1>
					{% endif %}
				{% endblock %}
			</body>
		</body>
	</html>
</div></body></html>
